@import './toolbar/index.less';
@import './splitter/index.less';
@import './file-bar/index.less';
@import './code-editor/index.less';
@import './preview/index.less';

.code-sandbox-container {
  border: 1px solid @border-common-color;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  .main-content {
    display: flex;
    position: relative;
    height: calc(100% - 28px);
    width: 100%;
    order: 2;
  }
  .main-content-top {
    order: 1;
  }
}
