.code-sandbox-active-menu-item {
  color: @text-brand;
  &:hover {
    color: @text-white;
  }
}

.code-sandbox-message {
  position: fixed;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 12px;
  font-size: 12px;
  color: @text-brand;
  background-color: @bg-brand-light;
  border: 1px solid @border-brand-light;
  border-radius: 4px;
}

.code-sandbox-message-info {
  color: @text-info;
  background-color: @bg-info-light;
  border: 1px solid @border-info-light;
}

.code-sandbox-message-danger {
  color: @text-danger;
  border: 1px solid @border-danger-light;
  background-color: @bg-danger-light;
}

.code-sandbox-message-success {
  color: @text-success;
  border: 1px solid @border-success-light;
  background-color: @bg-success-light;
}

.code-sandbox-dialog-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: @bg-mask;
  z-index: 9999;
  .code-sandbox-dialog {
    position: absolute;
    min-width: 300px;
    max-width: 600px;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: @bg-white;
    border-radius: 4px;
    padding: 16px;
    .code-sandbox-dialog-title {
      margin: 0 0 12px 0;
      line-height: 24px;
    }
    .code-sandbox-dialog-close {
      color: @text-secondary;
      cursor: pointer;
      position: absolute;
      height: 24px;
      top: 16px;
      right: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        color: @text-brand;
      }
    }
    .code-sandbox-dialog-content {
      font-size: 13px;
    }
    .code-sandbox-dialog-buttons {
      display: flex;
      justify-content: flex-end;
      .code-sandbox-dialog-button-cancel {
        margin-right: 8px;
        background-color: @bg-white;
        border: 1px solid @border-primary;
        border-radius: 4px;
      }
      button {
        box-sizing: border-box;
        cursor: pointer;
        padding: 4px 12px;
      }
    }
  }
}
