@import url('@/style/index.less');
* {
  box-sizing: border-box;
}

:host {
  --border-common-color: @border-common-color;
  --border-brand-secondary-color: @border-brand-secondary-color;
}

.code-sandbox-splitter {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  .code-sandbox-splitter-left {
    border-right: 1px solid @border-common-color;
    position: relative;
    height: 100%;
  }
  .code-sandbox-splitter-right {
    position: relative;
    flex: 1;
  }
  .split-mask {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
  }
  .split-mask-hidden {
    display: none;
  }
}

code-sandbox-splitter-left {
  position: relative;
  height: 100%;
  width: 100%;
}
code-sandbox-splitter-right {
  position: relative;
  height: 100%;
  width: 100%;
}
.dragger {
  position: absolute;
  z-index: 99;
  top: 0;
  bottom: 0;
  right: -3px;
  width: 6px;
  cursor: col-resize;
  &:hover {
    background-color: @border-brand-secondary-color !important;
  }
}
