.CodeMirror {
  height: 100%;
}

.code-mirror-container {
  position: relative;
  height: 100%;
  // min-width: 500px;
  overflow-x: auto;
  .CodeMirror-line {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace !important;
  }
}
