.toolbar-icon {
  color: @text-color;
  cursor: pointer;
  display: flex;
  align-items: center;
  &:hover {
    background-color: @brand-light-bg;
  }
  &:active {
    background-color: @brand-light-bg;
    color: @brand;
  }
}
.toolbar-disable-icon {
  color: @text-color-disable;
}
