.toolbar-icon {
  color: @text-primary;
  cursor: pointer;
  display: flex;
  align-items: center;
  &:hover {
    background-color: @bg-brand-light;
  }
  &:active {
    background-color: @bg-brand-light;
    color: @text-brand;
  }
}
.toolbar-disable-icon {
  color: @text-disable;
}
