/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 * -------------------------------------------------------------------------- */

:root {
  --codeplayer-vp-c-brand: #006aff;
  --codeplayer-vp-c-brand-light: #2e8cff;
  --codeplayer-vp-c-brand-lighter: #5dabff;
  --codeplayer-vp-c-brand-lightest: #8bc7ff;
  --codeplayer-vp-c-brand-dark: #0051d2;
  --codeplayer-vp-c-brand-darker: #003aa6;
  --codeplayer-vp-c-brand-dimm: rgba(100, 108, 255, 0.08);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --codeplayer-vp-button-brand-border: var(--codeplayer-vp-c-brand-light);
  --codeplayer-vp-button-brand-text: var(--codeplayer-vp-c-white);
  --codeplayer-vp-button-brand-bg: var(--codeplayer-vp-c-brand);
  --codeplayer-vp-button-brand-hover-border: var(--codeplayer-vp-c-brand-light);
  --codeplayer-vp-button-brand-hover-text: var(--codeplayer-vp-c-white);
  --codeplayer-vp-button-brand-hover-bg: var(--codeplayer-vp-c-brand-light);
  --codeplayer-vp-button-brand-active-border: var(
    --codeplayer-vp-c-brand-light
  );
  --codeplayer-vp-button-brand-active-text: var(--codeplayer-vp-c-white);
  --codeplayer-vp-button-brand-active-bg: var(--codeplayer-vp-button-brand-bg);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --codeplayer-vp-home-hero-name-color: transparent;
  --codeplayer-vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #006aff 30%,
    #41d1ff
  );

  --codeplayer-vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #bae0ff 80%,
    #41d1ff 80%
  );
  --codeplayer-vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --codeplayer-vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --codeplayer-vp-home-hero-image-filter: blur(72px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --codeplayer-vp-custom-block-tip-border: var(--codeplayer-vp-c-brand);
  --codeplayer-vp-custom-block-tip-text: var(--codeplayer-vp-c-brand-darker);
  --codeplayer-vp-custom-block-tip-bg: var(--codeplayer-vp-c-brand-dimm);
}

.dark {
  --codeplayer-vp-custom-block-tip-border: var(--codeplayer-vp-c-brand);
  --codeplayer-vp-custom-block-tip-text: var(--codeplayer-vp-c-brand-lightest);
  --codeplayer-vp-custom-block-tip-bg: var(--codeplayer-vp-c-brand-dimm);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --codeplayer-docsearch-primary-color: var(--codeplayer-vp-c-brand) !important;
}

.options-table {
  display: table;
  width: 100%;
  th,
  td {
    overflow: hidden;
    word-break: break-all;
  }
}
