@brand-color: #3491fa;
@danger-color: #f56c6c;

@border-common-color: #dcdfe6;
@border-brand-color: #409eff;
@border-danger-color: #fde2e2;
@border-brand-secondary-color: #d9ecff;

@bg-brand-secondary-color: #f5f8ff;
@bg-danger-secondary-color: #fef0f0;

@text-main-color: #333;
@text-secondary-color: #555;
@disable-color: #c0c4cc;
