.code-sandbox-file-selector {
  display: flex;
  border-bottom: 1px solid #ddd;
  justify-content: space-between;
}

.code-sandbox-file-selector-left {
  display: flex;
  flex: 1;
}

.code-sandbox-file-item {
  line-height: 18px;
  padding: 4px 2px 4px 8px;
  box-sizing: border-box;
  border-bottom: 2px solid transparent;
  font-size: 12px;
  cursor: pointer;
  color: #999;
  display: flex;
  align-items: center;
  gap: 8px;
}

.code-sandbox-file-item-no-close {
  padding: 4px 8px;
}

.code-sandbox-file-item svg {
  font-size: 16px;
  visibility: hidden;
}

.code-sandbox-file-item:hover {
  background-color: #f8f8f8;
}

.code-sandbox-file-item:hover svg {
  visibility: visible;
}

.code-sandbox-file-item svg:hover {
  background-color: #e3e3e3;
}

.code-sandbox-file-active-item {
  border-bottom-color: #3491fa;
  color: #3491fa;
}
